.movies {
    display : flex;
    flex-wrap: wrap;
}

.movieTitles {
    cursor: pointer;
}

.moviePosters {
    cursor: pointer;
    height: 360px;
}

posterTitleDiv {
    width: 400px;
}

button {
    font-size: 20px;
}